page-profile {

  .form-input {
    min-height: 1px;
    padding-left: 4px;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px !important;
    border-color: color($colors, info, base);
    font-size: 1.1em;
    background: transparent;
    color: color($colors, primary, base);
  }

  .form-input-large {
    background-position: 98% 50%;
  }

  .text-input, .select {
    margin: 0px;
    padding: 2px;
  }

  .select-icon {
    display: none;
  }

}
